In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/outputs/invoice_numbers_1689793192.csv')

In [3]:
df.rename(columns={
                "Invoice Number": "invoice_number",
                "Total Charged": "total_charged",
            }, inplace=True,)

In [4]:
df.head()

  invoice_number total_charged
0      X15688941     2755430.0
1      813728138      18004.67
2      G42174195      10245.21
3       27307572      20873.79
4      E37309831      32837.29

In [5]:
df['total_charged'].describe()

count     6834
unique    6793
top        2.0
freq         9
Name: total_charged, dtype: object

In [6]:
df['total_charged'].isna().sum()

1577

In [7]:
df[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("!"))]['total_charged'].apply(lambda x: x.replace('!', ''))

8       23,682.1
225         9,99
1113     15,917,
2426         55,
3572       37,75
5592    65,373.4
7503       37,04
7561        21,6
Name: total_charged, dtype: object

In [8]:
df[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("!"))]['total_charged'].apply(lambda x: x.replace('!', '').replace(',', ''))

8       23682.1
225         999
1113      15917
2426         55
3572       3775
5592    65373.4
7503       3704
7561        216
Name: total_charged, dtype: object

In [9]:
df.loc[(~df['total_charged'].isna()) &
       (df['total_charged'].str.contains("!")), 'total_charged'] = df['total_charged'].str.replace("!", "").replace(",", "")

In [10]:
df[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("!"))]

Empty DataFrame
Columns: [invoice_number, total_charged]
Index: []

In [11]:
df[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("\("))]

     invoice_number total_charged
26        G56427813         21,5(
1395      953436099     44,840.0(
7314       65912996      14,656.(

In [12]:
df[(~df['total_charged'].isna()) & 
   (df['total_charged'].str.contains("\("))]['total_charged'].apply(lambda x: x.replace('.(', '').replace('(', '').replace('4,', '4').replace(',', '.'))

26         21.5
1395    44840.0
7314      14656
Name: total_charged, dtype: object

In [13]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("\(")),
       'total_charged'] = df['total_charged'].str.replace(".(", "").replace("(", "").replace("4,", "4").replace(",", ".")

In [14]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("\(")),
       'total_charged'] = df['total_charged'].str.replace("(", "").replace("4,", "4").replace(",", ".")

In [15]:
df[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("\("))]

Empty DataFrame
Columns: [invoice_number, total_charged]
Index: []

In [16]:
df.loc[(~df['total_charged'].isna()) & 
   (df['total_charged'].str.contains(",")) & 
   (df['total_charged'].str.len() >= 6),
       'total_charged']

8        23,682.1
403     51,689.5*
703     1l,921.19
901       83,970'
912       53,066:
1113      15,917,
1395     44,840.0
1518    21,362.2:
1760     16,255.f
1863       24,31;
2895     21,866.€
3028     11,321./
3048      9,782.;
3458      22,842:
5134       21,89;
5514    25,779.7:
5592     65,373.4
5733    -3,575.8:
6010     7,604.1'
6522     21,096.:
6643     22,784 .
6952       61,57;
7293      11,092:
7314       14,656
8048    12,985.7{
Name: total_charged, dtype: object

In [17]:
df.loc[(~df['total_charged'].isna()) & 
   (df['total_charged'].str.contains(",")) & 
   (df['total_charged'].str.len() > 6),
       'total_charged'] = df['total_charged'].str.replace(",", "")\
    .replace("*", "").replace("'", "").replace(":").replace(".f", "").replace(".€", "").replace("./", "").replace(".;", "")\
    .replace(".:", "").replace(":", "").replace("{", "").replace(" .", "")

In [18]:
symbols = ["*", "'", ":", ".f", ".€", "./", ".;", ".:", ":", "{", " .", ",=", ",/", ";"]

for symbol in symbols:
    df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains(f"\\{symbol}")),
       'total_charged'] = df['total_charged'].str.replace(symbol, "")

In [19]:
df.loc[(~df['total_charged'].isna()) & 
   (df['total_charged'].str.contains(",")) & 
   (df['total_charged'].str.len() < 6), 'total_charged'] = df['total_charged'].str.replace(",", ".")

In [20]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("I")),
       'total_charged'] = df['total_charged'].str.replace("I", "")

In [21]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("")),
       'total_charged']

0       2755430.0
1        18004.67
2        10245.21
3        20873.79
4        32837.29
          ...
8403     25620.76
8404     15117.86
8405     22254.24
8406     10623.99
8410       624.46
Name: total_charged, Length: 6834, dtype: object

In [22]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("l")),
       'total_charged'] = df['total_charged'].str.replace('l', "1")

In [23]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("€")),
       'total_charged'] = df['total_charged'].str.replace('€', "")

In [24]:
df.loc[(~df['total_charged'].isna()) & 
   (df['total_charged'].str.contains(".")) & 
   (df['total_charged'].str.len() == 1), 'total_charged']

726     1
1940    .
2522    1
3282    ]
3470    ]
5684    2
7256    1
Name: total_charged, dtype: object

In [25]:
df.loc[(~df['total_charged'].isna()) & 
   (df['total_charged'].str.contains(".")) & 
   (df['total_charged'].str.len() == 1), 'total_charged'] = df['total_charged'].str.replace(".", "")

In [26]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("]")),
       'total_charged'] = df['total_charged'].str.replace(']', "")

In [27]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("C")),
       'total_charged'] = df['total_charged'].str.replace('C', "")

In [28]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains("i")),
       'total_charged'] = df['total_charged'].str.replace('i', "")

In [29]:
df.loc[(~df['total_charged'].isna()) & (df['total_charged'].str.contains(",")),
       'total_charged'] = df['total_charged'].str.replace(",", "")

In [30]:
# pd.to_numeric(df['total_charged'], downcast="float")

In [31]:
df.head()

  invoice_number total_charged
0      X15688941     2755430.0
1      813728138      18004.67
2      G42174195      10245.21
3       27307572      20873.79
4      E37309831      32837.29

In [32]:
df['total_charged'] = pd.to_numeric(df['total_charged'], downcast="float")

In [33]:
df['total_charged'].describe()

count    6.820000e+03
mean     9.714527e+04
std      1.227841e+06
min     -5.165390e+07
25%      1.457636e+04
50%      2.338435e+04
75%      3.639232e+04
max      5.437558e+07
Name: total_charged, dtype: float64

In [34]:
df['total_charged'].isna().sum()

1591

In [35]:
df.loc[df['total_charged'].isna(), 'total_charged'] = 0

In [36]:
df.rename(columns={
                "invoice_number": "Invoice Number",
                "total_charged": "Total Charged",
            }, inplace=True,)

In [37]:
df.to_csv('../data/outputs/invoice_numbers_casted_1689793192.csv', index=False)

In [38]:
mean = df['Total Charged'].mean()
mean

78769.55625965998

In [39]:
df.loc[df['Total Charged'].isna(), 'Total Charged'] = mean

In [40]:
df['Total Charged'].describe()

count    8.411000e+03
mean     7.876956e+04
std      1.106271e+06
min     -5.165390e+07
25%      6.043100e+03
50%      1.921310e+04
75%      3.252289e+04
max      5.437558e+07
Name: Total Charged, dtype: float64

In [41]:
df.to_csv('../data/outputs/invoice_numbers_inputed_1689793193.csv', index=False)