In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
df = pd.read_csv("../data/outputs/invoice_numbers_last_final_with_nan.csv")

In [3]:
df.rename(columns={
                "Invoice Number": "invoice_number",
                "Total Charged": "total_charged",
            }, inplace=True,)

In [4]:
df.total_charged.isna().sum()

1099

In [5]:
df.describe()

       total_charged
count   7.312000e+03
mean    2.774322e+05
std     2.146641e+06
min    -5.165390e+07
25%     1.473364e+04
50%     2.388983e+04
75%     3.770795e+04
max     5.924565e+07

In [6]:
#045 = df['total_charged'].quantile([0.045]).values[0]

In [7]:
df.loc[df['total_charged'].isna(), 'total_charged'] = 0

In [8]:
df.describe()

       total_charged
count   8.411000e+03
mean    2.411823e+05
std     2.003656e+06
min    -5.165390e+07
25%     9.770545e+03
50%     2.093419e+04
75%     3.497627e+04
max     5.924565e+07

In [10]:
df['total_charged'] = df['total_charged'] * 0.05

In [11]:
df.describe()

       total_charged
count   8.411000e+03
mean    1.205911e+04
std     1.001828e+05
min    -2.582695e+06
25%     4.885273e+02
50%     1.046709e+03
75%     1.748814e+03
max     2.962283e+06

In [12]:
df.rename(columns={
                "invoice_number": "Invoice Number",
                "total_charged": "Total Charged",
            }, inplace=True,)

In [13]:
df.to_csv('../data/outputs/invoice_numbers_last_final_zero_01.csv', index=False)