In [46]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv("../data/outputs/invoice_numbers_fixed.csv")

In [4]:
df.rename(columns={'Invoice Number': 'invoice_number',
          'Total Charged': 'total_charged'}, inplace=True)

In [5]:
len(df.invoice_number.unique())

8411

In [6]:
df.shape

(8411, 2)

In [7]:
df.head()

  invoice_number  total_charged
0      X15688941     2755430.00
1      813728138       18004.67
2      G42174195       10245.21
3       27307572       20873.79
4      E37309831       32837.29

In [8]:
invoices_numbers = list(df.invoice_number)

### OCR

In [9]:
import cv2
import easyocr

In [10]:
reader = easyocr.Reader(["es", "en"], gpu=False)

Using CPU. Note: This module is much faster with a GPU.

In [111]:
input_path = "../data/inputs/invoices/jpgs/2021-01-08_637.jpg"

In [112]:
image = cv2.imread(input_path)
result = reader.readtext(image, paragraph=False)

In [113]:
invoice_strings = invoices_numbers
total_strings = ['Total:']

In [114]:
total = 0
for res in result:
    """if not invoice_number:
        for invoice in invoice_strings:
            if invoice.upper() in res[1].upper():
                invoice_number = invoice
                print(invoice_number)
    else:
        for total in total_strings:
            if total.upper() in res[1].upper():
                total_charged = res[1].split(': ')[1].replace('$', '')
                total_charged = np.single(total_charged.replace(',', ''))
                print(total_charged)"""
    if "$" in res[1] and 'Total:' not in res[1]:
        value = res[1]
        """value = value.replace("$", "")
        value = value.replace(" ", "")
        value = value.replace(',', '')
        value = float(value)
        total += value"""
        expresion_regular = r"-?[\$\d,.]+"
        salida = re.findall(expresion_regular, value)
        out = "".join(salida)
        out = out.replace("$", "")
        out = out.replace(",", "")
        print(out)
        if out:
            total += (float(out))
print(total)

104.00
6656.00
3.29
3.29
104.56
104.56
164.00
198.94
99.47
49.76
49.76
158.55
792.75
6.39
6.39
1310.00
1310.00
81.00
1660.50
3260.00
3260.00
516.60
516.60
139.00
99.52
99.52
1464.80
1464.80
136.00
1088.00
8.07
8.07
498.12
8.81
8.81
155.04
155.04
194.60
3697.40
0.00
0.00
1322.40
1322.40
134.69
134.69
65.50
326.00
326.00
33273.69

In [155]:
save = []

In [156]:
item = ['path', 'invoice', result]
item2 = ['path', 'invoice', result]

In [157]:
save.append(item)
save.append(item2)

In [158]:
import pickle

with open('outfile.txt', 'wb') as fp:
    pickle.dump(save, fp)

In [168]:
with open ('../data/outputs/save_errors_1689899531.txt', 'rb') as fp:
    itemlist = pickle.load(fp)

In [169]:
itemlist

[]

In [162]:
total = None

In [166]:
total = 4
total += 5

In [84]:
df.loc[df.invoice_number == invoice_number, 'total_charged'] = total_charged

In [86]:
df[df.invoice_number == 'D44139084']

     invoice_number total_charged
1020      D44139084      36284.26

In [90]:
df[~df['total_charged'].isna()]

     invoice_number total_charged
1020      D44139084      36284.26
1309      179850710      38766.68

In [93]:
import time

In [95]:
round(time.time())

1689720588

In [111]:
output_path=f'../data/outputs/invoice_numbers_{round(time.time())}.csv'

In [112]:
output_path

'../data/outputs/invoice_numbers_1689720790.csv'

In [113]:
df.rename(columns={'invoice_number': 'Invoice Number',
          'total_charged': 'Total Charged'}, inplace=True)

In [114]:
df.to_csv(output_path, index=False)

In [115]:
results = pd.read_csv(output_path)

In [121]:
results[~df['Total Charged'].isna()].shape[0]

2

In [122]:
results.shape[0]

8411

In [91]:
import re

entrada = "-$1,965.00"
expresion_regular = r"-?[\$\d,.]+"
salida = re.findall(expresion_regular, entrada)

out = "".join(salida)
out = out.replace("$", "")
out = out.replace(",", "")
print(out)

-1965.00

In [134]:
invoice_number = None
total_charged = 14

In [135]:
if invoice_number and total_charged:
    print('ambos')
elif invoice_number:
    print('invoice')
elif total_charged:
    print('total')

total