In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/inputs/2023-06-26-invoice_numbers-final.csv")

In [3]:
df.rename(columns={'Invoice Number': 'invoice_number',
          'Total Charged': 'total_charged'}, inplace=True)

In [4]:
len(df.invoice_number.unique())

8411

In [5]:
df.shape

(8411, 2)

In [6]:
df.head()

  invoice_number  total_charged
0      X15688941            NaN
1      813728138            NaN
2      G42174195            NaN
3       27307572            NaN
4      E37309831            NaN

In [7]:
df.loc[df.invoice_number == 'X15688941', 'total_charged'] = np.NaN

In [8]:
df[df['invoice_number'] == 'X15688941']

  invoice_number  total_charged
0      X15688941            NaN

In [9]:
df[df.invoice_number == 'X15688941']

  invoice_number  total_charged
0      X15688941            NaN

In [10]:
df['total_charged'] = np.NaN

In [11]:
invoices_numbers = list(df.invoice_number)

### OCR

In [17]:
import cv2
import easyocr

In [21]:
reader = easyocr.Reader(["es", "en"], gpu=False)

Using CPU. Note: This module is much faster with a GPU.

In [79]:
input_path = "../data/inputs/invoices/jpgs/2021-01-21_1021.jpg"

In [80]:
image = cv2.imread(input_path)
result = reader.readtext(image, paragraph=False)

In [81]:
invoice_strings = invoices_numbers
total_strings = ['Total:']

In [119]:
invoice_number = None
total_charged = np.NaN
for res in result:
    if not invoice_number:
        for invoice in invoice_strings:
            if invoice.upper() in res[1].upper():
                invoice_number = invoice
                print(invoice_number)
    else:
        for total in total_strings:
            if total.upper() in res[1].upper():
                total_charged = res[1].split(': ')[1].replace('$', '')
                total_charged = np.single(total_charged.replace(',', ''))
                print(total_charged)

D44139084
36284.26

In [83]:
total_charged

36284.26

In [84]:
df.loc[df.invoice_number == invoice_number, 'total_charged'] = total_charged

In [86]:
df[df.invoice_number == 'D44139084']

     invoice_number total_charged
1020      D44139084      36284.26

In [90]:
df[~df['total_charged'].isna()]

     invoice_number total_charged
1020      D44139084      36284.26
1309      179850710      38766.68

In [93]:
import time

In [95]:
round(time.time())

1689720588

In [111]:
output_path=f'../data/outputs/invoice_numbers_{round(time.time())}.csv'

In [112]:
output_path

'../data/outputs/invoice_numbers_1689720790.csv'

In [113]:
df.rename(columns={'invoice_number': 'Invoice Number',
          'total_charged': 'Total Charged'}, inplace=True)

In [114]:
df.to_csv(output_path, index=False)

In [115]:
results = pd.read_csv(output_path)

In [121]:
results[~df['Total Charged'].isna()].shape[0]

2

In [122]:
results.shape[0]

8411